/2-Thesis_Draft/main.aux
/2-Thesis_Draft/main.bbl
/2-Thesis_Draft/main.blg
/2-Thesis_Draft/main.log
/2-Thesis_Draft/main.out
/2-Thesis_Draft/main.synctex.gz
/2-Thesis_Draft/main.toc
/2-Thesis_Draft/Ch1-Introduction/ch1.log
/2-Thesis_Draft/report.acn
/2-Thesis_Draft/report.acr
/2-Thesis_Draft/report.alg
/2-Thesis_Draft/report.aux
/2-Thesis_Draft/report.bbl
/2-Thesis_Draft/report.blg
/2-Thesis_Draft/report.glg
/2-Thesis_Draft/report.glo
/2-Thesis_Draft/report.gls
/2-Thesis_Draft/report.glsdefs
/2-Thesis_Draft/report.log
/2-Thesis_Draft/report.out
/2-Thesis_Draft/report.synctex.gz
/2-Thesis_Draft/report.toc
/2-Thesis_Draft/report.xdy
/2-Thesis_Draft/report.tdo
